.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-logo {
  font-size: 22px;
  font-weight: 1000;
  color: black;
}

.navbar-center {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.navbar-links li a:hover {
  color: #555;
}

.navbar-search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar-search-wrapper .search-icon {
  position: absolute;
  left: 10px;
  font-size: 16px;
  color: #888;
}

.navbar-search {
  padding: 6px 12px 6px 32px; 
  border: 1px solid #ddd;
  border-radius: 50px;
  width: 220px;
  font-weight: 600;
  background-color: #f0f0f0; 
}
.navbar-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-icons .icon {
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.navbar-icons .icon:hover {
  color: #666;
}


.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* Tablet (max-width: 1024px) */
@media (max-width: 1024px) {
  .navbar-search {
    width: 160px;
  }
}

/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
  .navbar {
    padding: 15px 20px;
  }

  .navbar-center {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    /* padding-right: 20px; */
    display: none;
  }

  .navbar-center.active {
    display: flex;
  }

  .navbar-links {
    flex-direction: row; 
    gap: 10px;
    padding-left: 0;
  }

  .navbar-links li {
    width: auto;
  }
  .navbar-links li a{
    gap: 25px;
    color: rgb(79, 30, 122);
  }


  .navbar-search,
  .search-icon {
    display: none !important;
  }

  .menu-toggle {
    display: block;
  }
}
